body{
	background:url("../images/background.png");
}
.header{
	background-color: rgba(202,219,237,0.75);
	height: 100px;
	padding-top: 26px;
}
@media screen and (max-width: 768px) {
.header{
	padding-top: 5px;
}
}
.logo a{
	display: block;
}
@media screen and (max-width: 768px) {
.logo a{
	text-align: center;
}
}
.logo{
	padding-top: 8px;
}
.hamburger_menu_button{
	background: url(../images/menu.png);
	height: 40px;
	width: 40px;
	border:none;
	background-position: center;
	margin-top: 5px;
	padding: 0px;
}
.menu_block{
	background-color: rgba(202,219,237,0.33);
}
.navigation{
	padding-left: 0px;
}
@media screen and (max-width: 768px) {
.navigation{
	display: none;
}
}
@media screen and (max-width: 768px) {
.navigation.clicked{
	display: block;
}
}
li {
	list-style: none;
}
.main_menu{
	float: left;
	border-left: 2px solid #2C70B9;
	height: 50px;
	line-height: 50px;
	width: 138px;
	position: relative;
}
@media screen and (max-width: 768px) {
.main_menu{
	float: none;
	height: auto;
	width: inherit;
	border: none;
}
}
.main_menu a{
	color:#2C70B9;
	display: block;
	font-size: 21px;
	text-decoration: none;
	text-align: center;
}
@media screen and (max-width: 768px) {
.main_menu a{
	color:white;
	text-align: left;
}
}
.shipping{
	border-right: 2px solid #2C70B9;
}
@media screen and (max-width: 768px) {
.shipping{
	border:none;
}
}
@media screen and (min-width: 1024px) {
.main_menu:hover .main_menu_a{
	color: white;	
	background-color: #2C70B9;
}
}
@media screen and (min-width: 1024px) {
.main_menu:hover .list{
	display: block;
}
}
.list{
	position: absolute;
	background-color: #2C70B9;
	width: 278px;
	margin-left: -2px; 
	z-index: 1;
	display: none;
	padding-left: 0px;
}
@media screen and (max-width: 768px) {
.list{
	position: static;
	background-color: rgba(202,219,237,0.3);
	width: inherit;
	margin-left: 0px; 
	z-index: 0;
}
}
@media screen and (max-width: 768px) {
.list.clicked{
	display: block;
}
}
.list_element a{
	color:white;
	display: block;
	text-decoration: none;
	text-align: left;
	padding-left: 17px;
}
@media screen and (max-width: 768px) {
.list_element a{
	padding-left: 0px;
}
}
@media screen and (min-width: 1024px) {
.list_element a:hover{
	color: #2C70B9;
	background-color: white;
}
}
.arrow_in_header{
	display: block;
	background: url(../images/arrow_top_blue.png);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	height: 7px;
	width: 10px;
	top:22px;
	right: 8px;
}
@media screen and (max-width: 768px) {
.arrow_in_header{
	left: 100px;
	background: url(../images/arrow_top_white.png);
}
}
@media screen and (max-width: 768px) {
.arrow_in_header.clicked{
	left: 100px;
	background: url(../images/arrow_bottom_white.png);
}
}
@media screen and (min-width: 1024px) {
.main_menu:hover .arrow_in_header{
	background: url(../images/arrow_bottom_white.png);
}
}
.search_block{
	padding-top: 5px;
	position: relative;
}
.search_block{
	margin-left: -10px;
}
.search_field{
	border: 2px solid #2C70B9;
	height: 40px;
	font-size: 21px;
	color: #2C70B9;
	width: 200px;
	padding-left: 20px;
	display: block;
}
input::-moz-placeholder{
	color:#2C70B9;
}
input::-webkit-input-placeholder{
	color:#2C70B9;
}
.search_button{
	width: 30px;
	height: 30px;
	background-color:#2C70B9;
	z-index: 1; 
	top: 10px;
	left: 165px;
	position: absolute;
	border:0px;
}
.basket_block{
	display: block;
	position: relative;
	margin-top: 5px;
	margin-left: 10px;
	height: 40px;
	width: 40px;
	background-color: white;
}
@media screen and (max-width: 768px) {
.basket_block{
		margin-left: 25px;
}
}
.box{
	position: absolute;
	display: block;
	z-index: 2;
	left:10px; 
	top:10px;
}
.amount{
	top:-11px;
	left: -11px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color:#2C70B9;
	position: absolute;
	display: block;
	z-index: 1;	
	text-align: center;
	color: white;
}
.choosing_device_specifications{
	color:white;
	border-right: 1px solid white;
	background-color: rgba(86,141,198,0.60);
	padding-left: 20px
}
@media screen and (max-width: 768px) {
.choosing_device_specifications{
	border: none;
	background: none;
	padding-left: 0px;
}
}
.choosing_device_specifications ul{
	padding-left: 0px;
	font-size: 21px;
	font-weight: bold;
	padding-top: 29px;
	padding-bottom: 34px;
	margin: 0px; 
}
@media screen and (max-width: 768px) {
.choosing_device_specifications ul{
	font-size: 28px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid white;
}
}
.choosing_device_specifications li input{
	display: none;
}
label:before{
	content:'';
	width: 10px;
	height: 10px;
	display: inline-block;
	border:1px solid white;
	cursor: pointer;
	margin-bottom: 2px;
}
.choosing_device_specifications li input:checked + label:before{
	background: white;
}
.choosing_device_specifications .ram{
	padding-bottom: 0px;
}
.choosing_device_specifications ul span{
	margin-left: 1px;
}
.choosing_device_specifications li span{
	margin-left: 11px; 
}
.choosing_device_specifications ul li:first-child{
	padding-top: 26px;
}
.choosing_device_specifications label{
	padding-top: 25px;
	padding-bottom: 0px;
	margin:0px;
	font-weight: normal;
	cursor: pointer;
}
@media screen and (max-width: 768px) {
.choosing_device_specifications label{
	padding-top: 5px;
}
}
.choosing_device_specifications input{
	margin-top: 0px;
}
.choosing_device_specifications p{
	padding-left: 8px;
	font-size: 21px;
	padding-top: 29px;
	margin:0px; 
}
.choosing_device_specifications p a{
	color: white;
	text-decoration: none;
}
@media screen and (max-width: 768px) {
.choosing_device_specifications p{
	text-align: center;
}
}
.choosing_device_specifications .submit_button{
	background-color:#2c72b8;
	border: 1px solid white;
	font-weight: bold;
	width: 210px;
	height: 50px;
	line-height: 50px;
	font-size: 21px;
	margin-top: 26px;
	margin-left: 1px;
	margin-bottom:30px; 
}
@media screen and (max-width: 768px) {
.choosing_device_specifications .submit_button{
	margin:26px auto 30px; 
	display: block;
}
}
.choosing_device_specifications .submit_button:hover{
	background-color:#9fcaed;
}
.page_title_block{
	padding-bottom: 20px;
}
.page_title_block p{
	color:white;
	margin-bottom: 0px;
}
.breadcrumbs{
	padding-top: 29px;
	font-size: 14px;
	line-height: 14px;
}
.breadcrumbs a{
	color: white;
	text-decoration: none;
}
.page_title{
	font-size: 48px;
	line-height: 48px;
	padding-top: 23px;
	display: block;
}
@media screen and (max-width: 768px) {
.page_title{
	margin: 0 auto;
	text-align: center;
}
}
.sort_filter{
	padding-bottom: 30px;
	padding-top: 64px;
	width: 263px;
}
@media screen and (max-width: 768px) {
.sort_filter{
	width: 268px;
	margin: 0 auto;
}
}
.sort_filter select{
	border:1px solid white;
	background-color: rgb(44,113,184);
	color: white;
	padding-left: 20px;
	font-size: 20px;
	line-height: 40px;
	height: 40px;
	width: 268px;
	display: block;
}
.product{
	padding-top:30px; 
	margin-left: 0px; 
	width:270px;
}
@media screen and (max-width: 768px) {
.product{
	margin: 0 auto; 
}
}
.product_image_block {
  	border: 1px solid white;
  	background-color: rgba(255, 255, 255, 0.749);
  	position: relative;
  	width: 270px;
  	height: 180px;
	text-align:center;
	line-height:180px;
	display:inline-block;
}
.like_button{
  	display: block;
  	position: absolute;
  	right: 10px;
  	top: 50px;
  	border:1px solid rgb(44, 113, 184);
	padding: 6px 5px;
	background:url(../images/like_blue.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 18px;
	height: 17px;
	box-sizing: content-box;
}
.like_button.clicked{
  	display: block;
  	position: absolute;
  	right: 10px;
  	top: 50px;
  	border:1px solid white;
	padding: 6px 5px;
	background-image:url(../images/like_white.png);
	background-color:red;
	background-repeat: no-repeat;
	background-position: center;
	width: 18px;
	height: 17px;
	box-sizing: content-box;
}	
.like_button:hover{
	background-color:rgb(44, 113, 184);
	background-image:url(../images/like_white.png);
}
.square_button{
  	display: block;
  	position: absolute;
  	right:10px;
  	top:10px;
  	border:1px solid rgb(44, 113, 184);
	background-color:rgb(44, 113, 184);
  	padding: 4px;
	background:url(../images/square_blue.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 20px;
	height: 20px;
	box-sizing: content-box;
}
.square_button:hover{
	background-color:rgb(44, 113, 184);
	background-image:url(../images/square_white.png);
}
.product_text_block{
	border: 1px solid white;
	background-color: rgba(44, 113, 184, 0.749);
}
.description_block{
	margin: 15px 16px 26px 15px; 
	color: white;
}
.description_block p{
	font-size: 21px;
}
.capital_letters{
	text-transform: uppercase;
}
.price{
	font-size: 48px;
	font-weight: bold;
	color: white;
	text-align: center;
}
.price span{
	font-size: 30px;
	vertical-align: super;
}
.product_text_block button {
  	border: 1px solid rgb(255, 255, 255);
  	background-color: rgb(44, 113, 184);
  	width: 208px;
  	height: 48px;
  	font-size: 21px;
	color: white;
}
.product_text_block button:hover{
	background-color:#9fcaed;
}

.details{
	margin: 25px 30px 0px 30px;
}
.product_text_block .add_to_cart{
	margin: 15px 30px 30px 30px;
	background-color: rgba(255, 255, 255, 0.2);
}
.product_text_block .add_to_cart:hover{
	background-color:#9fcaed;
}
.add_to_cart img{
	position: block;
	margin-left: 13px;
	margin-top:-2px; 
}
.load_more_part a{
  	font-size: 36px;
  	color: rgb(255, 255, 255);
  	text-align: center;
	margin-top:39px;
	line-height: 36px;
	margin-bottom: 0px; 
	display: block;
	text-decoration: none;
}
.load_more_part a:hover{
	color:#9fcaed;
}
.footer{
  	background-color: rgb(255, 255, 255);
	opacity: 0.749;
	height: 100px;
	font-size: 21px;
	color: rgb(44, 113, 184);
	line-height: 100px;
	margin-top: 90px;
	margin-bottom: 0px;
}
@media screen and (max-width: 768px) {
.footer{
	text-align: center;
}
}
.footer p{
	margin-bottom: 0px;
}
.slider{
	color: white;
	text-align: center;
	padding: 40px 0px;
	font-size: 55px;

}
.slick-dots li button:before{
	color: white!important;
}