@import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Playfair+Display|Roboto');
*{
	margin:0;
	padding:0; 
}
body{
	-webkit-font-smoothing: antialiased;
}
a{
	cursor: pointer;
	color: rgb(0, 224, 208);
}
a:hover{
	text-decoration: none;
}
button{
	display:block;
	background:transparent;
	border:1px solid rgb(0, 224, 208);
	border-radius:2px;
	color:rgb(0, 224, 208); 
	font-size: 16px;
	font-family: "Hammersmith One";
	font-weight: bold; 
  	line-height: 1.2;
  	text-transform: uppercase;
	text-align: center;
}
button:hover{
	background:rgb(0, 224, 208);
	border:1px solid rgb(255, 255, 255);
	color:rgb(255, 255, 255);
}
.header{
	background-image:url("../images/headerForestBackground.png");
	height: 670px;
	background-repeat: no-repeat;
	background-position: center;
}
.logoAndNavigation{
	margin-top: 15px;
}
.navBlock{
	margin-top: 21px; 
}
.navList{
	float: right;
}
.navList li{
	float: left;
	list-style: none;
	margin-right: 18px;
}
.navList :last-child{
	margin-right: 0px;
}
.navList a{
	font-size: 13px;
	font-family: "Roboto";
	color: white;
	font-weight: bold;
	line-height: 1.2;
	text-align: right;
	text-transform: uppercase;
}
.navList a:hover{
	color:rgb(0, 224, 208);
}
.headerTitle{
	font-size: 32px;
	font-family: "Playfair Display";
	font-weight: bold;
	color: rgb(255, 255, 255);
	line-height: 1.2;
	text-align: center;
	margin-top: 183px;
}
.headerSeparator{
	margin: 21px auto 30px;
	display: block
}
.headerText{
	font-size: 14px;
 	font-family: "Roboto";
	color: rgb(255, 255, 255);
 	line-height: 1.714;
	text-align: center;
	height: 62px;
	margin: 0 auto;
}
.logoAndNavigation button{
	width: 118px;
	height: 38px;
	margin: 50px auto 0;
}
.mainLogo{
	margin-left: 52px;
	margin-top: 70px;
}
.ourStory h2{
  	font-size: 22px;
  	font-family: "Playfair Display";
  	text-transform: uppercase;
  	color: rgb(65, 61, 75);
  	font-weight: bold;
  	line-height: 1.2;
  	text-align: left;
  	margin-top: 71px; 
  	margin-bottom: 25px;
}
.ourStory p{
	font-size: 14px;
	font-family: "Roboto";
	color: rgba(65, 61, 75, 0.749);
	line-height: 1.571;
	margin-bottom: 30px;
}
.ourStory button{
	width: 118px;
	height: 38px;
	margin-bottom: 70px; 
}
.ourStoryVideoBlock{
	background-image:url("../images/ourStoryVideoBackground.png");
	height: 550px;
	background-repeat: no-repeat;
	background-position: center;
}
.videoBlock{
	height: 100%;
	width: 100%;
}
.ourStoryVideo{
	height: 100%;
	width:100%;
}
iframe{
	width: 100%;
	height: 100%;
	padding: 3% 19.5%;
}
.expertiseBlock h2 {
  	font-size: 22px;
  	font-family: "Playfair Display";
	text-transform: uppercase;
  	color: rgb(65, 61, 75);
  	font-weight: bold;
  	line-height: 1.2;
  	text-align: center;
	margin-top: 71px;
}
.expertiseBlock h5 {
	font-size: 14px;
  	font-family: "Playfair Display";
  	color: rgba(47, 45, 53, 0.749);
  	line-height: 1.2;
  	text-align: center;
  	margin-top: 15px; 
}
.expertiseBlockSeparator{
	margin: 18px auto 47px;
	display: block
}
.expertiseBlockElement {
	height: 250px;
	padding-top: 35px;
	border-right: 1px solid rgb(235, 235, 235);
}
.expertiseBlockFirstLine :last-child{
	border-right: none;
}
.expertiseBlockSecondLine :last-child{
	border-right: none;
}
.expertiseBlockFirstLine .expertiseBlockElement{
	border-bottom: 1px solid rgb(235, 235, 235);
}
.expertiseBlockElementImage{
	height: 50px;
}
.expertiseBlockElement img{
	display: block;
	margin: auto auto;
}
.expertiseBlockElement h4{
  	font-size: 14px;
  	font-family: "Roboto";
  	font-weight: bold;
  	text-transform: uppercase;
  	color: rgb(65, 61, 75);
  	line-height: 1.2;
  	text-align: center;
  	margin: 35px auto 25px
}
.expertiseBlockElement p{
  	font-size: 14px;
  	font-family: "Roboto";
  	color: rgba(51, 51, 51, 0.749);
  	line-height: 1.571;
  	text-align: center;
  	height: 58px;
  	margin: 0 auto;
}
.meetOurAmazingTeamBlock{
	background-image:url("../images/meetOurAmazingTeamBackground.png");
	height: 712px;
	margin-top:68px; 
	background-repeat: no-repeat;
	background-position: center;
}
.meetOurAmazingTeamBlock h2 {
  	font-size: 22px;
  	font-family: "Playfair Display";
	text-transform: uppercase;
	color: rgb(255, 255, 255);
  	font-weight: bold;
  	line-height: 1.2;
  	text-align: center;
	margin-top:70px;
}
.meetOurAmazingTeamBlock h5 {
	font-size: 14px;
  	font-family: "Playfair Display";
	color: rgb(249, 249, 249);
  	line-height: 1.2;
  	text-align: center;
	margin-top: 15px;
}
.meetOurAmazingTeamBlockSeparator{
	margin: 18px auto 45px;
	display: block
}
.meetOurAmazingTeamBlockElement{
	border-bottom: 1px solid rgb(225, 225, 225);
}
.meetOurAmazingTeamBlockElement img{
	display: block;
	width: 100%;
	height:228px;
	background-color: white;
	margin: 0 auto;
}
.meetOurAmazingTeamBlockElement h4{
  	font-size: 14px;
  	font-family: "Roboto";
  	font-weight: bold;
  	text-transform: uppercase;
  	color: rgb(255, 255, 255);
  	line-height: 1.2;
  	text-align: center;
  	margin: 20px auto 10px
}
.meetOurAmazingTeamBlockElement p{
  	font-size: 13px;
  	font-family: "Roboto";
  	color: rgba(250, 250, 250, 0.702);
	line-height: 1.2;
  	text-align: center;
  	text-transform: uppercase;
  	margin-bottom: 25px; 
}
.meetOurAmazingTeamBlock button{
	width: 138px;
  	height: 38px;
	box-sizing: content-box;
	margin: 26px auto 0;
}
.meetOurAmazingTeamBlock h6 {
  	font-size: 14px;
  	font-family: "Roboto";
  	color: rgb(243, 243, 243);
  	line-height: 1.2;
  	text-align: center;
	margin-top: 70px; 
}
.ourWorksBlock{
	margin-top:70px;
}
.ourWorksBlock h2{
	font-size: 22px;
	font-family: "Playfair Display";
	color: rgb(65, 61, 75);
	font-weight: bold;
	line-height: 1.2;
	text-align: left;
	float: left;
	text-transform:uppercase;
	margin-top: 0px;
}
.ourWorksBlock a{
	display: block;
	float: right;
	font-size: 14px;
  	font-family: "Roboto";
  	color: rgb(65, 61, 75);
  	line-height: 1.2;
  	text-align: right;	
}
.ourWorksBlock a img{
	margin-left: 10px; 
}
.ourWorksGallery{
	max-width: 1600px;
	margin-top: 71px;
	margin-bottom: 70px;
}
.ourWorksGalleryElement{
	padding: 0;
}
.ourWorksGalleryElement img{
	width: 100%;
	display: block;
}
.ourWorksBlock button{
  	width: 138px;
  	height: 38px;
	box-sizing: content-box;
	margin: 0 auto 70px;
}
.postScriptumBlock{
	background-image:url("../images/postScriptumBackground.png");
  	height: 500px;
	background-repeat: no-repeat;
	background-position: center;	
}
.postScriptumBlock h2 {
  	font-size: 100px;
  	height: 30px;
  	line-height: 70px;
  	font-family: "Playfair Display";
  	color: rgba(255, 255, 255, 0.902);
	text-align: center;
	margin-top:69px;
	margin-bottom: 43px; 
}
.postScriptumBlock h5{
  	font-size: 16px;
  	font-family: "Playfair Display";
  	color: rgba(255, 255, 255, 0.851);
  	line-height: 1.625;
  	text-align: center;
  	margin: 0;
}
.feedBackBlock h2{
	font-size: 22px;
  	font-family: "Playfair Display";
  	color: rgb(65, 61, 75);
  	font-weight: bold;
  	line-height: 1.2;
  	text-align: left;
  	text-transform: uppercase;
}
.feedBackBlock input{
	width: 100%;
	border:1px solid rgb(229, 229, 229);
	margin-bottom: 21px; 
	padding-left: 20px;
	height: 43px;
	font-size: 14px;
  	font-family: "Roboto";
  	color: rgb(65, 61, 75);
  	line-height: 1.2;
  	text-transform: capitalize;
}
.feedBackBlock input:first-child{
	margin-top: 35px;
	margin-bottom: 23px;
}
.feedBackBlock textarea{
	width: 100%;
	border:1px solid rgb(229, 229, 229);
	margin-bottom: 21px;
	padding-left: 20px;
	padding-top: 20px;
	height: 198px; 
	font-size: 14px;
  	font-family: "Roboto";
  	color: rgb(65, 61, 75);
  	line-height: 1.2;
  	text-transform: capitalize;
}
.feedBackBlock input:last-child{
	border:1px solid rgb(0, 224, 208);
	border-radius: 2px;
	width: 118px;
  	height: 38px;
  	padding-left: 0px;
  	margin-bottom: 70px;
  	background-color: transparent;
  	font-family: "Hammersmith One";
  	color: rgb(0, 224, 208);
  	font-size: 16px;
  	font-weight: bold;
  	text-transform: uppercase;
  	text-align: center;
  	line-height: 1.2;  	
}
.feedBackBlock input:last-child:hover{
	background:rgb(0, 224, 208);
	border:1px solid rgb(255, 255, 255);
	color:rgb(255, 255, 255);
}
.clientsIcon{
	margin-top: 47px;
}
.footer{
	background-image:url("../images/footerBackground.png");
	height: 400px;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 70px;
}
.footer h2{
  	font-size: 15px;
  	font-family: "Roboto";
  	color: rgb(255, 255, 255);
  	line-height: 1.733;
  	text-transform: uppercase;
  	font-weight: bold;
  	margin-bottom: 30px; 
}
.footer p{
  	font-size: 14px;
  	font-family: "Roboto";
  	color: rgb(255, 255, 255);
  	line-height: 1.857;
  	text-align: left;
  	margin-top:27px; 
}
.footer .ourStudio li{
  	font-size: 14px;
  	font-family: "Roboto";
  	color: rgb(255, 255, 255);
  	line-height: 1.857;
  	text-align: left;
  	list-style-image: url("../images/placePointIcon.png"); 
  	padding-left: 5px;
}
.footer .ourStudio li:last-child{
	list-style-image: url("../images/phoneIcon.png") 
}
.copyrights{
	margin-top: 70px;
}
.copyrights li{
	float: left;
	color:white;
	list-style: none;
	margin-right: 5.5%;
}
.copyrights a{
  	font-size: 14px;
  	font-family: "Roboto";
  	color: rgb(255, 255, 255);
	line-height: 1.857;
	text-align: left;
	text-transform: uppercase;
}
.copyrights a:hover{
	color:rgb(0, 224, 208);
}
.copyrights p{
	margin: 0;
	text-transform:capitalize;
	text-align: right;
}
